html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


.nombre-sitio {
    margin-top: 50px;
    margin-bottom: 50px;
}
/*BOX MODEL*/

.sobre-nosotros {
    background-color: red;
    width: 200px;
    padding: 25px;
}