html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

/*GLOBALES*/

a {
  text-decoration: none;
  color: #000;
}

.contenedor {
  max-width: 1200px;
  margin: 0 auto 0 auto;
}

img {
  max-width: 100%;
}

/*Header y navegacion*/

.nombre-sitio {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.nombre-sitio span {
  color: #037bc0;
}

.nav-principal {
  /* border-color: #e1e1e1;
  border-top-style: solid;
  border-width: 1px; */
  border-top: 1px solid #e1e1e1;
}

.nav-principal {
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: space-around;
}

.hero {
  background-image: url(../img/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

/*Listado de Categorias*/

.listado-categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}